[server]
peer
port_ws_public
port_ws_admin
rpc

[peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[port_ws_admin]
port = 6006
ip = 0.0.0.0
admin = [0.0.0.0]
protocol = ws

[port_ws_public]
port = 6005
ip = 0.0.0.0
admin = [0.0.0.0]
protocol = ws
send_queue_limit = 500

[rpc]
port = 5005
ip = 0.0.0.0
admin = 127.0.0.1
protocol = http

[validation_seed]
ssb8XB2fkdgNh2oy3P3KMos5mNKU3

[node_size]
tiny

[validators_file]
validators.txt

[peer_private]
1

[ips_fixed]
# docker gateway ip for Windows and Linux
172.17.0.1
# docker gateway ip for macOS
192.168.65.1

[sntp_servers]
time.windows.com
time.apple.com
time.nist.gov
pool.ntp.org

[node_db]
type=rocksdb
path=/var/lib/rippled/db
online_delete=512
advisory_delete=1

[rpc_startup]
{ "command": "log_level", "severity": "debug" }

[ssl_verify]
0

[debug_logfile]
/var/log/rippled/debug.log
